In [2]:
#Module 4 : Logistic Regression
#Import the pandas library and load the titanic_prepared_data.csv into a dataframe named df
import pandas as pd

In [4]:
df = pd.read_csv("titanic_prepared_data.csv")
df.head()

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [5]:
#Separate the features and the label into arrays X and Y respectively
x = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values

In [9]:
x.shape

(891, 10)

In [10]:
y.shape

(891, 1)

In [13]:
#Split the data into Train and Test set
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=0)

In [19]:
#Training Set (70% of the data frame)
x_train.shape

(623, 10)

In [20]:
y_train.shape

(623, 1)

In [21]:
#Import the LogisticRegression model from sklearn, followed by training, prediction and calculation of accuracy score.
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [22]:
clf = LogisticRegression()

In [23]:
clf.fit(x_train, y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
y_pred_log_reg = clf.predict(x_test)

In [40]:
acc_log_reg = round(accuracy_score(y_pred_log_reg, y_test)*100, 2)
print(str(acc_log_reg)+'%')

80.22%

In [ ]:
print("* * * * * * * * * * * * * * * * * * * * Module 4 Done * * * * * * * * * * * * * * * * * * * *")